MONGO_URL=mongodb+srv://betianamarquez2012_db_user:betianamarquez12@cluster0.2l1jflg.mongodb.net/?appName=Cluster0
JWT_SECRET=backendII_clave_secreta_2026
MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USER=2a59bd9a2fd6aa
MAIL_PASSWORD=5ce2245b857956
PORT=8080
BASE_URL=http://localhost:8080